/*  Font import link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@300;400;500;600;700;800&display=swap');

/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #fff;
}

html,body{
    height:100%;
    width:100%;
}

#nav{
    height: 130px;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
}

#nav img{
    height: 80px;

}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}